In [1]:
import pandas as pd

In [31]:
df = pd.read_excel('County-table1A.xlsx')
df

,Unnamed: 0,"Table 1A. Total Resident Population for Maryland's Jurisdictions, April 1, 2010 Thru July 1, 2020",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,Census,Census,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate,Estimate
2,State/Jurisdiction,"April 1, 2010","April 1, 2010 Estimates Base*","July 1, 2010","July 1, 2011","July 1, 2012","July 1, 2013","July 1, 2014","July 1, 2015","July 1, 2016","July 1, 2017","July 1, 2018","July 1, 2019","July 1, 2020"
3,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,Maryland,5773552,5773787,5788784,5840241,5888375,5925197,5960064,5988528,6007014,6028186,6042153,6054954,6055802
5,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
6,Baltimore Region,2662691,2662812,2667985,2685791,2706646,2720470,2732242,2742068,2746135,2750212,2752629,2753318,2749022
7,Anne Arundel,537656,537635,539305,544863,550476,555638,559421,563133,567434,571359,575641,579895,582777
8,Baltimore,805029,805311,806654,813021,818218,822426,825201,827796,828941,828956,828547,828503,826017
9,Carroll,167134,167155,167230,167072,167085,167264,167383,167201,167189,167687,168421,168774,169092
10,Harford,244826,244824,245236,246746,248609,248961,249415,249690,250448,251948,253884,255594,256805
11,Howard,287085,287110,288618,293596,299223,303590,306989,311417,315581,319409,322895,325951,328200
12,Baltimore City,620961,620777,620942,620493,623035,622591,623833,622831,616542,610853,603241,594601,586131
13,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
14,Suburban Washington Region,2068582,2068722,2076300,2103245,2127802,2147769,2168922,2185269,2195858,2209222,2215864,2223300,2226589
15,Frederick,233385,233415,234239,237326,239705,241215,243487,245145,247269,251037,255698,260609,265161
16,Montgomery,971777,971279,975619,991325,1005310,1015534,1025063,1033370,1039327,1047239,1048794,1051129,1051816
17,Prince George's,863420,864028,866442,874594,882787,891020,900372,906754,909262,910946,911372,911562,909612
18,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
19,Southern Maryland Region,340439,340451,341920,346150,349293,352480,355041,357409,360476,363837,366958,370157,372195
20,Calvert,88737,88741,88989,89346,89746,90486,90595,90542,91116,91492,92131,92660,93072
21,Charles,146551,146564,147159,149215,150700,152710,154448,155775,157474,159718,161879,163733,164436
22,St. Mary's,105151,105146,105772,107589,108847,109284,109998,111092,111886,112627,112948,113764,114687
23,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
24,Western Maryland Region,252614,252597,252839,253545,253032,252638,251848,251112,251194,250886,250878,250642,250055
25,Allegany,75087,75042,74968,74580,73966,73602,73051,72501,72084,71363,70977,70527,70057
26,Garrett,30097,30139,30144,30158,29976,29981,29669,29451,29395,29276,29202,29049,28852
27,Washington,147430,147416,147727,148807,149090,149055,149128,149160,149715,150247,150699,151066,151146
28,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
29,Upper Eastern Shore Region,239951,239930,240113,240950,240904,240868,240931,241242,241456,241822,242955,243798,244242
30,Caroline,33066,33078,33054,32890,32636,32651,32542,32601,32834,33122,33341,33509,33492
31,Cecil,101108,101091,101161,101583,101780,101940,102252,102453,102609,102509,102816,103092,103419
32,Kent,20197,20195,20213,20258,19987,19833,19801,19745,19708,19486,19467,19426,19192
33,Queen Anne's,47798,47789,47809,48267,48506,48535,48803,49012,49135,49648,50279,50585,51167
34,Talbot,37782,37777,37876,37952,37995,37909,37533,37431,37170,37057,37052,37186,36972
35,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
36,Lower Eastern Shore Region,209275,209275,209627,210560,210698,210972,211080,211428,211895,212207,212869,213739,213699
37,Dorchester,32618,32623,32689,32702,32483,32563,32502,32431,32268,32093,31894,31864,31853
38,Somerset,26470,26470,26464,26268,26044,25968,25581,25705,25873,25922,25637,25609,25453
39,Wicomico,98733,98734,98974,100086,100593,100890,101416,101820,102246,102471,103398,104005,103990
40,Worcester,51454,51448,51500,51504,51578,51551,51581,51472,51508,51721,51940,52261,52403
41,,,,,,,,,,,,,,
42,* 2010 Census estimates base reflects changes ...,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
43,"Source: Population Division, U.S. Census Burea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Prepared by the Maryland Department of Plannin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 14 columns):
 #   Column                                                                                              Non-Null Count  Dtype
---  ------                                                                                              --------------  -----
 0   Unnamed: 0                                                                                          44 non-null     object
 1   Table 1A.  Total Resident Population for Maryland's Jurisdictions, April 1, 2010 Thru July 1, 2020  34 non-null     object
 2   Unnamed: 2                                                                                          34 non-null     object
 3   Unnamed: 3                                                                                          34 non-null     object
 4   Unnamed: 4                                                                                          34 non-null     object
 5   Unnamed: 5                                                                                          34 non-null     object
 6   Unnamed: 6                                                                                          34 non-null     object
 7   Unnamed: 7                                                                                          35 non-null     object
 8   Unnamed: 8                                                                                          34 non-null     object
 9   Unnamed: 9                                                                                          34 non-null     object
 10  Unnamed: 10                                                                                         34 non-null     object
 11  Unnamed: 11                                                                                         34 non-null     object
 12  Unnamed: 12                                                                                         34 non-null     object
 13  Unnamed: 13                                                                                         41 non-null     object
dtypes: object(14)
memory usage: 5.0+ KB

In [43]:
md = df[['Unnamed: 0', 'Unnamed: 13']].iloc[7:41].drop_duplicates()
md = md.rename(columns={'Unnamed: 0': 'County', 'Unnamed: 13': 'Popuation'})
md['County'] = md['County'].str.strip()
md.drop_duplicates()
md.to_csv('population_md.csv',index = False)

loc[9:14, 17:19, 22:24, 27:29, 32:36, 39:42]